celery==4.3.0
channels
daphne
Django
django-celery-beat
django-cors-headers
django-rest-framework
django-timezone-field
djangorestframework
djangorestframework-simplejwt
Pillow
PyJWT
python-dotenv
redis
asgiref
pytz
sqlparse
gunicorn==20.1.0
dj-database-url
django-environ
uvicorn
Twisted[http2,tls]
pusher
psycopg2-binary