@media only screen and (max-width:450px){
    .side_bar{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        border-radius: 0px;
        margin: 0;
        height: 100vh;
        background-color: black;
    }
    .about_text{
        height: fit-content;
        width: fit-content;
        box-sizing: border-box;
    }
    .main_cont{
        padding: 0;
        border-radius: 0px;
        margin: 0;
    }
    #home{
        width: 100%;
        max-height: 100vh;
        min-height: 70vh;
        border-radius: 0px;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        background-color: rgba(207, 206, 206, 0.144);
        background-image: linear-gradient(to bottom, #0303038c, transparent);

    }
    .image{
        
        width: 100%;
        display: flex;
        justify-content: end;
        overflow: hidden;
        box-sizing: border-box;
    }
    .project_text .project_name h2{
        font-size: 17px;
    }
    .project_description p{
        font-size: 15px;
    }
    .about_text{
        background-color: transparent;
        background-image: none;
        border-radius: 0px;
    }
    .about_text h1{
        font-size: 20px;
    }
    .about_text .description_text{
        font-size: 15px;
        font-weight: 400px;
    }
    .edu_details{
        flex-direction: column;
    }
    .edu_card{
        max-width: 100%;
        width: 100%;
        
    }
    .name_edu p{
        font-size: 16px;
    }
    .edu_from p{
        font-size: 14px;
    }
    .edu_dur p{
        font-size: 13px;
    }
    .c1:hover{
        transform: scale(1.1);
        transition: all 0.3s;
        cursor: pointer;
        
    }
    .c1_text{
        display: none;
    }
    .c1:hover .c1_text{
        width: fit-content;
        transition: all 0.5s;
        overflow: visible;
        transform: scale(1);
        display: none;
    }
    .skill{
        width: 100%;
        min-width:100%;
        height: fit-content;
    }
    .all_skills{
        display: flex;
        flex-direction: column;
    }
    .skill_name p{
        font-size: 17px;
    }
    .skill_description p{
        font-size: 15px;
    }
   .project{
    display: flex;
    flex-direction: column;
   }
    .project .project_image{
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    .project .project_image img{
        position: relative;
        height: 100%;
        width: 100%;
        
    }
    .project_text{
        position: relative;
        padding: 10px;
        width: 100%;
    }
    .exp{
        display: flex;
        flex-direction: column-reverse;
    }
    .exp_image img{
        width: 100%;
    }
    .all_achivements{
        display: flex;
        flex-direction: column;
    }
    .achivement{
        margin-bottom: 5px;
    }
    .my_logo{
        display: block;
        position: absolute;
        height: 50px;
        top: 20px;
        left: 0px;
        
        margin-bottom: 50px;
    }
    .my_logo p{
        height: 50px;
        font-family: "Kaushan Script", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 28px;
        color: rgb(250, 36, 36);
        z-index: 5;
        letter-spacing: 3px;
        margin-left: 30px;
          
          
    }
    .about_text{
        width: 100%;
        height: 400px;
        padding: 30;
    }
    .contact_div{
        flex-direction: column;
    }
    .cont_info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont_form{
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .cont_form form{
        padding: 0px;
    }
    .social{
        width: 80%;
        justify-content: center;
    }
    .social .link{
        height: 35px;
        width: 35px;
    }
    
 }