@media only screen and (max-width:800px){
    .side_bar{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        border-radius: 0px;
        margin: 0;
        height: 100vh;
        background-color: black;
    }
    .about_text{
        height: fit-content;
        width: fit-content;
        box-sizing: border-box;
    }
    .main_cont{
        padding: 0;
        border-radius: 0px;
        margin: 0;
    }
    #home{
        width: 100%;
        max-height: 100vh;
        min-height: 100vh;
        border-radius: 0px;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.144);
        background-image: linear-gradient(to bottom, #012c4e8c,75%, transparent);

    }
    .menu_items ul li{
        height: 35px;
    }
    .image{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        overflow: hidden;
        box-sizing: border-box;
        transform: scale(0.8);
        right: 0px;
        bottom:0px;
        background-image: linear-gradient(to top,#000000,15%,transparent);
        
    }
    .image .c{
        position: absolute;
        bottom:-0px
    }
    .project_text .project_name h2{
        font-size: 15px;
    }
    .project_description p{
        font-size: 15px;
    }
    #home .about_text{
        background-color: transparent;
        background-image: none;
        border-radius: 0px;
        
        height: fit-content;
        margin-top: 100px;
    }
    #home .about_text h1{
        font-size: 17px;
    }
    #home .about_text h1 p{
        font-size: 17px;
    }
    .about_text .description_text{
        font-size: 13px;
        font-weight: 400px;
    }
    .edu_details{
        flex-direction: column;
    }
    .edu_card{
        max-width: 100%;
        width: 100%;
        
    }
    .name_edu p{
        font-size: 16px;
    }
    .edu_from p{
        font-size: 14px;
    }
    .edu_dur p{
        font-size: 13px;
    }
    .c1:hover{
        transform: scale(1.1);
        transition: all 0.3s;
        cursor: pointer;
        
    }
    .c1_text{
        display: none;
    }
    .c1:hover .c1_text{
        width: fit-content;
        transition: all 0.5s;
        overflow: visible;
        transform: scale(1);
        display: none;
    }
    .skill{
        width: 100%;
        min-width:100%;
        height: fit-content;
    }
    .all_skills{
        display: flex;
        flex-direction: column;
    }
    .skill_name p{
        font-size: 17px;
    }
    .skill_description p{
        font-size: 15px;
    }
   .project{
    display: flex;
    flex-direction: column;
   }
    .project .project_image{
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .project .project_image img{
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        
    }
    .project_text{
        position: relative;
        padding: 0px;
        width: 100%;
        padding-bottom: 10px;
    }
    .project_text .project_name h2{
        font-size: 17px;
    }
    .project_text .short_description{
        font-size: 14px;
    }
    .project_text.active .project_name h2{
        font-size: 17px;
    }
    #sdb{
        font-size: 16px;
        height: 35px;

    }
    .edu_title p{
        font-size: 15px;
    }
    .title_div p{
        font-size: 16px;
    }
    .exp_texts .exp_name{
        font-size: 17px;
    }
    .exp_type{
        font-size: 16px;
    }
    .exp_year{
        font-size: 15px;
    }
    .exp_details{
        font-size: 14px;
    }
    .exp{
        display: flex;
        flex-direction: column-reverse;
    }
    .exp_image img{
        width: 100%;
    }
    .all_achivements{
        display: flex;
        flex-direction: column;
    }
    .achivement{
        margin-bottom: 5px;
    }
    .my_logo{
        display: flex;
        position: absolute;
        height: 50px;
        top: 10px;
        left: 0px;
        background-color: rgba(255, 255, 255, 0.089);
        padding-right: 15px;
        margin-bottom: 50px;
        align-items: center;
        border-right: 20px solid #c4cbd11a;
        overflow: hidden;
    }
    .my_logo p{
        height: 50px;
        font-family: "Kaushan Script", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 26px;
        color: #e7e7e7e0;
        
        z-index: 5;
        letter-spacing: 1px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        background-color: #c4cbd11a;
          
          
    }
    .my_logo:active p{
        transform: scale(1.1);
        transition: all 0.05s;

    text-shadow: 1px 1px 1px #f31a1a,   /* Shadow to the bottom right */
                 -1px -1px 1px #f31a1a, /* Shadow to the top left */
                 -1px 1px 1px #f31a1a,  /* Shadow to the top right */
                 1px -1px 1px #f31a1a;  /* Shadow to the bottom left */

    }
    .about_text{
        width: 100%;
        height: 400px;
        padding: 30;
    }
    .contact_div{
        flex-direction: column;
    }
    .cont_info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont_form{
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .cont_form form{
        padding: 0px;
    }
    .social{
        width: 80%;
        justify-content: center;
    }
    .social .link{
        height: 35px;
        width: 35px;
    }
    
 }